html,
body  {
	padding-top: 2.0rem;
}
.container.index {
 	background: #353941;
 	padding-top: 2.0rem;
 	padding-bottom: 0.5rem;
}
.container.quienessomos {
  background: #353941;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.container.ingreso {
  background: #353941;
}
.container.formulario {
    width: 100%;
    max-width: 500px;
    margin-left:150px;
    padding-top: 2.0rem;
}
.container.posicion {
    padding-bottom: 1rem;
}

.display-4 {
  	color: #ffffff
}
.text{
  	color:#ffffff;
}
.centrado {
	  max-width: 100%;
    height: auto;
    margin: 0px auto;
    display:block;
}
.especial {
    width: 100%;
    max-width: 420px;
    margin-left:20px;
    padding-top: 2.0rem;
}
.especial.modificaciones {
    width: 100%;
    max-width: 780px;
    margin-left:20px;
    padding-top: 2.0rem;
}
.formulario.modificaciones{

  color:#ffffff;
}


/*Login*/

.text-center {
  	padding-top: 6.0rem;
}

.form-signin {
 	width: 100%;
  	max-width: 330px;
  	padding: 15px;
  	margin: auto;
}

.form-signin .checkbox {
  	font-weight: 400;
}

.form-signin .form-control {
  	position: relative;
  	box-sizing: border-box;
  	height: auto;
  	padding: 10px;
  	font-size: 16px;
}

.form-signin .form-control:focus {
  	z-index: 2;
}

.form-signin input[type="text"] {
  	margin-bottom: 10px;
  	border-bottom-right-radius: 0;
  	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  	margin-bottom: 10px;
 	border-top-left-radius: 0;
  	border-top-right-radius: 0;
}
